<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboard.mapper.BoardMapper">
	<select id="getList" resultType="com.springboard.domain.BoardDTO">
		<![CDATA[
			select boardnum,boardtitle,boardcontents,boardwriter,regdate,updatedate
			from
				(select rownum rn,boardnum,boardtitle,boardcontents,boardwriter,
				regdate,updatedate from spring_board where rownum<=131 order by boardnum desc)
			where rn>0
		]]>	
	</select>
	<select id="getTotal" resultType="_int">
		select count(*) from spring_board where boardnum>0
	</select>
	
	<insert id="insert">
		insert into spring_board (boardnum,boardtitle,boardcontents,boardwriter)
		values(seq_board.nextval, #{boardtitle}, #{boardcontents}, #{boardwriter})
	</insert>
	<insert id="insert_with_bno">
		<!--
			selectKey order="BEFORE" : 아래에 있는 쿼리문을 수행하기 전에 해당 쿼리문을 한번 수행한다.
			resultType(Long)는 수행된 결과의 타입이며 그 결과를 "boardnum" 이라는 이름에 세팅			
		-->
		<selectKey keyProperty="boardnum" order="BEFORE" resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into spring_board (boardnum,boardtitle,boardcontents,boardwriter)
		values(#{boardnum}, #{boardtitle}, #{boardcontents}, #{boardwriter})
	</insert>
	
	<select id="read" resultType="com.springboard.domain.BoardDTO">
		select * from spring_board where boardnum=#{boardnum}
	</select>
	
	<update id="update">
		update spring_board set boardtitle=#{boardtitle}, boardcontents=#{boardcontents},
		updatedate=sysdate where boardnum=#{boardnum}
	</update>
	
	<delete id="delete">
		delete from spring_board where boardnum=#{boardnum}
	</delete>
	
</mapper>